.track {
  display: flex;
  align-items: center;
}
.track_data {
  color: white;
  margin-left: 30px;
  width: 100%;
}



.add_remove_button button {
  border-radius: 500px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: rgba(30, 215, 96, 1);
  color: white;
  outline: none;
  border: none;
  margin-right: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
}

button.add_remove_button:hover{
    background-color: green;
}

