div.playlist {
  width: 40%;
  height: minmax(500px, auto);
  background-color: rgba(0, 0, 0, 0.89);
  border-radius: 30px;
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.playlist input {
  height: 20px;
  width: 90%;
  
}
