div.playlist {
  width: 40%;
  height: minmax(50px, auto);
  background-color: rgba(245, 0, 0, 0.89);
  border-radius: 30px;
  margin: 0px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.playlist input {
  height: 50px;
  width: 60%;
  border-radius: 20px;
  border-color: transparent;
  margin-top: 20px;
  border: none;
  outline: none;
  text-align: center;
  font-size: large;
}

.playlist button{
    margin: 50px;
}

button.Playlist-save {
  border-radius: 500px;
  display: flex;
  align-items: center;
  height: 50px;
  width: 150px;
  background-color: rgba(30, 215, 96, 1);
  color: white;
  outline: none;
  border: none;
  margin-right: 40px;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
}

button.Playlist-save:hover {
background-color: green;}
